@import "../_vars.sass"

.about
	margin-top: 30px
	&_title
		display: none
	&_content
		display: none
		color: $white
		font-size: 20px
		padding: 0px 10px
		line-height: 24px
		span
			color: $accent