@import "../_vars.sass"

.artists
	&_carousel
		margin-left: -10px
	.item
		margin: 0px 10px
		padding: 0px 5px
		// position: relative
		width: 130%
	&_img
		position: relative
		padding: 0px 25px
		width: 100%
		margin: 0 0px
		
		img
			margin: 0 auto
			// width: 90%
			width: 125%
			border-radius: 2px
	&_name
		position: absolute
		font-size: 14px
		top: 45%
		color: $white
		transform: rotate(-90deg)
		font-weight: 300
		text-transform: uppercase
		&-bon
			left: -3%
		&-tcb
			left: -29%
		&-tsp
			left: -29%
		&-idles
			left: 3%
		&-ty
			left: -9%
		&-vm
			left: -14%
.artists
	&_btns
		margin-top: 5px
		margin-left: 40px
	&_carousel
		&__prev
			padding-right: 5px
			cursor: pointer
			transition: all .4s ease
			&:hover
				img
					transform: translateX(-5px)
			img
				transition: all .4s ease
				width: 20px
		&__next
			padding-right: 5px
			cursor: pointer
			transition: all .4s ease
			&:hover
				img
					transform: translateX(5px)
			img
				transition: all .4s ease
				width: 20px



#bon-iver2 , #bon-iver
	opacity: 0
	transform: scale(0)
#tsp, #tcb
	opacity: 0
	transform: scale(0)