@import "../_vars.sass"

.footer
	opacity: 0
	background-color: #000000
	color: $white
	padding: 20px 0
	&_pdm
		margin-top: 20px
		text-align: center
		font-weight: bold
		span
			font-weight: 300
	&_email
		padding: 20px 10px
		&__title
			font-weight: bold
			line-height: 1.2
			margin-bottom: 10px
		&__link
			color: $white
			p
				margin-bottom: 0
				line-height: 17px
				font-weight: 300
			a
				color: $white
				font-weight: bold
	&_sign
		padding: 20px 10px
		&__title
			font-weight: bold
			line-height: 1.2
			margin-bottom: 20px
		&__link
			a
				color: $white
				border: 1px solid $white
				padding: 10px 10px
				font-size: 14px