@import "../_vars.sass"

.show
	margin-top: 35px
	&_title
		text-align: right
		font-size: 26px
		font-weight: bold
		line-height: 28px	
		color: $white
		letter-spacing: 2px
		margin-bottom: 35px
		p
			margin: 0
			margin-right: 35px
		span
			padding: 0px 15px
			background-color: $red
			&:nth-child(2)
				margin-right: 20px
			&:nth-child(3)
				margin-right: 10px
	&_video
		background-color: #000000
		position: relative
		height: 70vh
.video_wrapper
	position: relative
.video_playbtn
	position: absolute
	top: 40%
	left: 50%
	transform: translateX(-50%)
	cursor: pointer
	background: rgba(255,255,255, .3)
	border-radius: 50%
	width: 120px
	height: 120px
	text-align: center
	transition: all .4s ease
	border: none
	&:hover
		img
			transform: scale(1.5)
	img
		transition: all .5s ease
		margin-left: 15px
		width: 40px
.share
	&_box
		margin-top: 10px
		display: flex
		justify-content: center
		&__title
			margin-top: 6px
			font-size: 16px
			color: $white
			font-weight: regular
			text-align: right
			// margin-left: auto
			text-transform: uppercase
			transform: translateX(50%)
		ul
			list-style: none
			display: flex
			// margin-right: auto
			li
				margin: 0px 10px
				transition: all .4s ease
				a	
				&:hover
					transform: scale(1.2)