@import "../_vars.sass"

.startpage
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	overflow: hidden
	z-index: 99
	background-color: #000000
	color: $white
	display: flex
	justify-content: center
	align-items: center
	height: 100vh
	width: 0%
	transform: translateX(-1500px)
	&_title
		font-size: 36px
		letter-spacing: 5px
		font-weight: 300
		margin: 0
	&_video
		display: none
		opacity: 0
		background-color: #000000
		width: 30%