@import "vars"
@import "libs"

@import "layout/startpage.sass"
@import "layout/header.sass"
@import "layout/title.sass"
@import "layout/hero-dt.sass"
@import "layout/artists.sass"
@import "layout/about.sass"
@import "layout/show.sass"
@import "layout/cta.sass"
@import "layout/footer.sass"

@import "layout.sass"



::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow: hidden
	color: $text
	background-color: #000000
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main
	// background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
	// background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%)
	background-color: $blue
	opacity: 0

.opacity
	animation: opacity 1s forwards
.opacity0
	animation: opacity0 1s forwards
@keyframes opacity
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes opacity0
	0%
		opacity: 1
	100%
		opacity: 0

@import "media" // Always at the end
